$h-full: 100%;

.App {
  width: 100%;
  height: $h-full;
  // border: 3px solid purple;
  height: 100vh;
}

button {
  display: flex;
  margin: 10px 0px 20px;
  padding: 10px;
  justify-content: flex-end;
}

.sidebar-open {
  width: 200px;
  height: $h-full;
  background-color: royalblue;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.sidebar-closed {
  width: 20px;
  height: $h-full;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.form {
  margin: 50px 20px;
}

.row-label {
  display: flex;
  flex-direction: column;
}

.column-label {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

// 7 x 8
.container-seven-rows-eight-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(7, auto);
}

.container-closed-seven-rows-eight-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(7, auto);
}

/* Add border bottom to all items */
.seven-rows-eight-columns-item {
  // padding: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 7 x 7
.container-seven-rows-seven-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
}

.container-closed-seven-rows-seven-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
}

/* Add border bottom to all items */
.seven-rows-seven-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}


// 7 x 6
.container-seven-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(7, auto);
}

.container-closed-seven-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(7, auto);
}

/* Add border bottom to all items */
.seven-rows-six-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 6 x 7
.container-six-rows-seven-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
}

.container-closed-six-rows-seven-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
}

/* Add border bottom to all items */
.six-rows-seven-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 6 x 6
.container-six-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.container-closed-six-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

/* Add border bottom to all items */
.six-rows-six-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 6 x 5
.container-six-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
}

.container-closed-six-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
}

/* Add border bottom to all items */
.six-rows-five-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 5 x 6
.container-five-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(5, auto);
}

.container-closed-five-rows-six-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(5, auto);
}

/* Add border bottom to all items */
.five-rows-six-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 5 x 5
.container-five-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.container-closed-five-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

/* Add border bottom to all items */
.five-rows-five-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 5 x 4
.container-five-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
}

.container-closed-five-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
}

/* Add border bottom to all items */
.five-rows-four-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 4 x 5
.container-four-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
}

.container-closed-four-rows-five-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
}

/* Add border bottom to all items */
.four-rows-five-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 4 x 4
.container-four-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

.container-closed-four-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

/* Add border bottom to all items */
.four-rows-four-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 4 x 3
.container-four-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
}

.container-closed-four-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
}

/* Add border bottom to all items */
.four-rows-three-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 3 x 4
.container-three-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}

.container-closed-three-rows-four-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
}

/* Add border bottom to all items */
.three-rows-four-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 3 x 3
.container-three-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.container-closed-three-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

/* Add border bottom to all items */
.three-rows-three-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 3 x 2
.container-three-rows-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

.container-closed-three-rows-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

/* Add border bottom to all items */
.three-rows-two-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

//2 x 3

.container-two-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.container-closed-two-rows-three-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

/* Add border bottom to all items */
.two-rows-three-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// /* Remove border bottom from last item & from second last if its odd */
// .two-rows-three-columns-item:last-child, .two-rows-three-columns-item:nth-last-child(2):nth-child(odd) {
//   border-bottom: none;
// }

// /* Add right border to every second item */
// .two-rows-three-columns-item:nth-child(odd) {
//   border-right: 1px solid black;
// }

// 2 x 2 
.container-two-rows-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.container-closed-two-rows-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

/* Add border bottom to all items */
.two-rows-two-columns-item {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// /* Remove border bottom from last item & from second last if its odd */
// .two-rows-two-columns-item:last-child, .two-rows-two-columns-item:nth-last-child(2):nth-child(odd) {
//   border-bottom: none;
// }

// /* Add right border to every second item */
// .two-rows-two-columns-item:nth-child(odd) {
//   border-right: 1px solid black;
// }

// 2 x 1
.container-two-rows-one-column {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
}

.container-closed-two-rows-one-column {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
}

.two-rows-one-column-item {
  padding: 10px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* with flexbox:
  width: calc(50% - 21px);
  */
}

// 1 x 2

.container-one-row-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 200px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}

.container-closed-one-row-two-columns {
  border: 3px solid green;
  height: $h-full;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  margin-left: 20px;
  // transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}

.one-row-two-columns-item {
  padding: 10px;
  border-left: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* with flexbox:
  width: calc(50% - 21px);

  */
}

// 1 x 1

.container-one-row-one-column {
  // border: 3px solid green;
  // height: $h-full;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  // margin-left: 200px;
  // transform: translate(-50%, -50%);
  // display: grid;
  // grid-template-columns: repeat(2, auto);
  // grid-template-rows: repeat(1, auto);
}

.container-closed-one-row-one-column {
  // border: 3px solid green;
  // height: $h-full;
  position: fixed; /* or absolute */
  top: 50%;
  left: 43%;
  // margin-left: 20px;
  // transform: translate(-50%, -50%);
  // display: grid;
  // grid-template-columns: repeat(0, auto);
  // grid-template-rows: repeat(0, auto);
}

.one-row-one-column-item {
  // padding: 10px;
  // border: 1px solid black;
  // position: fixed; /* or absolute */
  // top: 50%;
  // left: 50%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
 
  /* with flexbox:
  width: calc(50% - 21px);

  */
}


// .heading {
//   font-size: 4.5em;
//   font-weight: bold;
//   text-align: center;
//   color: purple;
// }


