$h-full: 100%;
$bg-color-sidebar-open: royalblue;
$bg-color-sidebar-closed: green;

.App {
  width: 100%;
  height: $h-full;
  min-height: 100vh;
}

button {
  display: flex;
  margin: 10px 0px 20px;
  justify-content: flex-end;
}

.sidebar-open {
  width: 200px;
  height: $h-full;
  background-color: $bg-color-sidebar-open;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.sidebar-closed {
  width: 20px;
  height: $h-full;
  background-color: $bg-color-sidebar-closed;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
}

.form {
  margin: 50px 20px;
}

.row-label {
  display: flex;
  flex-direction: column;
}

.column-label {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container-collapsed {
  border: 3px solid pink;
  height: $h-full;
  min-height: 100vh;
  margin-left: 200px;
  display: grid;
}

.container-full {
  border: 3px solid green;
  height: $h-full;
  min-height: 100vh;
  margin-left: 20px;
  display: grid;
}

.viewport-items {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



